.first-section-background {
    background-image: radial-gradient(yellow, rgb(255, 187, 0));

    .devil-image {
        width: 100%;
        height: 100%;
    }
}

.first-title {
    font-family: 'NightinTokyo';
    font-size: 4em;
    margin-bottom: 1em;
}

.first-button {
    font-family: 'NightinTokyo';
    font-size: 2em;
    padding-right: 2em;
    padding-left: 2em;
}