.logo-image {
    width: 86px;
    height: 86px;
}

.navbar-brand {
    font-family: 'NightinTokyo';
    font-size: 5em;
    font-weight: bold;
}

.nav-link {
    font-size: 1.2em;
    color: white !important;
}