nav {
    .navbar-brand {
        font-family: 'NightinTokyo';
        font-size: 2.5em;
        font-weight: bold;

        .logo-image {
            width: 86px;
            height: 86px;
        }
    }

    .navbar-collapse {
        font-family: 'Arial';
        margin-right: 2em;
        .navbar-nav {
            .nav-link {
                font-family: 'Arial';
                font-size: 1.7em;
                color: #ffffff !important;
                margin: 0.5em;
                font-weight: bold;
            }
        }
    }
}

.navbar {
    font-family: 'NightinTokyo';
    background: black !important;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .navbar-brand {
        font-size: 1.7em !important;
    }

    .nav-link {
        font-size: 1.2em !important;
    }
}

@media screen and (max-width: 576px) {
    .navbar-brand {
        font-size: 1.3em !important;
    }

    .nav-link {
        font-size: 1em !important;
    }
}